.link-box.svelte-1ln0l56.svelte-1ln0l56{display:flex;flex-direction:column;gap:10px}.link-box.svelte-1ln0l56 .link-title.svelte-1ln0l56{color:#6d6f76;font-size:1rem}.link-box.svelte-1ln0l56 .link-input.svelte-1ln0l56{background-color:#f0f0f4;box-sizing:border-box;padding:10px;height:40px;width:100%;border-radius:5px}
.input-target.svelte-pgg4n3.svelte-pgg4n3{display:flex;gap:18px}.input-target.svelte-pgg4n3 label.svelte-pgg4n3{width:50%;padding:5px;text-align:center;border:1px solid #bcbfc3;border-radius:5px;color:#6d6f76;cursor:pointer;background-color:white}.input-target.svelte-pgg4n3 label.active.svelte-pgg4n3{color:#6591fa;border-color:#5b88f4}.input-target.svelte-pgg4n3 label input.svelte-pgg4n3{display:none}
.buttons.svelte-a7ql0n.svelte-a7ql0n{width:100%;gap:10px;display:flex;justify-content:flex-end;margin-top:20px}.buttons.svelte-a7ql0n button.svelte-a7ql0n{cursor:pointer;color:white;font-weight:500;display:flex;align-items:center;height:40px;border-radius:5px;justify-content:center;font-size:1.25rem}.buttons.svelte-a7ql0n .cancel.svelte-a7ql0n{width:92px;background-color:#bcbfc3}.buttons.svelte-a7ql0n .save.svelte-a7ql0n{flex-grow:1;background-color:#6d6f76}
.link-container.svelte-1g5hi9v{display:flex;flex-direction:column;gap:10px;padding:30px;width:400px;max-width:calc(100% - 160px);box-sizing:border-box;position:absolute;background-color:white;border-radius:5px;top:50%;left:50%;transform:translate(-50%, -50%);box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1)}
.picker.svelte-1uklvx3{position:relative;width:100%;height:100%;background:linear-gradient(#ffffff00, #000000ff),
			linear-gradient(0.25turn, #ffffffff, #00000000), var(--color-bg);outline:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.slider.svelte-1rfxwri{--gradient:#ff0000, #ffff00 17.2%, #ffff00 18.2%, #00ff00 33.3%, #00ffff 49.5%, #00ffff 51.5%,
			#0000ff 67.7%, #ff00ff 83.3%, #ff0000;position:relative;width:100%;height:100%;background:linear-gradient(var(--gradient));outline:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.to-right.svelte-1rfxwri{background:linear-gradient(0.25turn, var(--gradient))}
.alpha.svelte-sh8y8x:after{position:absolute;content:'';inset:0;background:linear-gradient(#00000000, var(--alpha-color));z-index:0}.to-right.svelte-sh8y8x:after{background:linear-gradient(0.25turn, #00000000, var(--alpha-color))}.alpha.svelte-sh8y8x{position:relative;width:100%;height:100%;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
			linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);background-size:10px 10px;background-position:0 0, 5px 5px;outline:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.text-input.svelte-1capfim{display:flex;flex-direction:column;gap:10px;margin:10px 5px 5px}.input-container.svelte-1capfim{display:flex;flex:1;gap:10px}input.svelte-1capfim,button.svelte-1capfim{flex:1;border:none;background-color:#eee;padding:0;border-radius:5px;height:30px;line-height:30px;text-align:center}input.svelte-1capfim{width:5px}button.svelte-1capfim{cursor:pointer;flex:1;margin:0;transition:background-color 0.2s}button.svelte-1capfim:hover{background-color:#ccc}input.svelte-1capfim:focus,button.svelte-1capfim:focus{outline:none}.has-been-tabbed input.svelte-1capfim:focus-visible,.has-been-tabbed button.svelte-1capfim:focus-visible{outline:2px solid var(--focus-color, red);outline-offset:2px}
div.svelte-bosz7h{position:absolute;width:10px;height:10px;background-color:white;border-radius:5px;margin-left:2px;pointer-events:none;z-index:1}
div.svelte-298zmp{position:absolute;width:10px;height:10px;background-color:white;border-radius:5px;pointer-events:none;z-index:1;transition:box-shadow 0.2s}
div.svelte-1vr4c0x{display:inline-block;margin-right:5px;height:200px;width:200px;border-radius:8px;overflow:hidden;outline:2px solid transparent;outline-offset:3px;transition:outline 0.2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;user-select:none}div.focused.svelte-1vr4c0x{outline:2px solid var(--focus-color, red)}
div.svelte-1r2f1mj{display:inline-block;margin-right:5px;width:var(--slider-width, 14px);height:var(--picker-height, 200px);border-radius:7px;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;user-select:none;outline:2px solid transparent;outline-offset:3px;transition:outline 0.2s ease-in-out}div.focused.svelte-1r2f1mj{outline:2px solid var(--focus-color, red)}
label.svelte-a1g5oc{display:flex;align-items:center;gap:8px;cursor:pointer;border-radius:3px;margin:4px}div.svelte-a1g5oc{display:block;width:30px;height:30px;overflow:hidden;border-radius:15px;display:flex;align-items:center;justify-content:center}input.svelte-a1g5oc{margin:0;padding:0;border:none;width:32px;height:32px;flex-shrink:0;cursor:pointer}.has-been-tabbed label.svelte-a1g5oc:focus-within{outline:2px solid var(--focus-color, red);outline-offset:2px}
div.svelte-19cwu6x{padding:8px 5px 5px 8px;background-color:white;margin:0 10px 10px;border:1px solid black;border-radius:12px;display:none;width:-moz-max-content;width:max-content}.isOpen.svelte-19cwu6x{display:block}.isPopup.svelte-19cwu6x{position:absolute;top:15px;z-index:2}
details.svelte-1p7g2tm.svelte-1p7g2tm{width:230px;margin:8px auto}summary.svelte-1p7g2tm.svelte-1p7g2tm{margin-bottom:8px;cursor:pointer;transition:color 0.2s}summary.svelte-1p7g2tm.svelte-1p7g2tm:hover{color:blue}.not-closable.svelte-1p7g2tm summary.svelte-1p7g2tm{pointer-events:none}.not-closable.svelte-1p7g2tm summary.svelte-1p7g2tm{list-style:none}.svelte-1p7g2tm.svelte-1p7g2tm:focus-visible,span.svelte-1p7g2tm :focus-visible{border-radius:2px;outline:2px solid var(--focus-color, red);outline-offset:2px}
.a11y-single-notice.svelte-396htm.svelte-396htm{display:flex;align-items:center;margin:4px 0;gap:12px;height:48px}.large.svelte-396htm.svelte-396htm{font-size:22px}.score.svelte-396htm.svelte-396htm{width:95px;flex-shrink:0;margin-bottom:10px}.score.svelte-396htm p.svelte-396htm{margin-bottom:2px}.grade.svelte-396htm.svelte-396htm{border-radius:50px;padding:2px 8px;background-color:orange;font-weight:bold}.grade-ok.svelte-396htm.svelte-396htm{background-color:green;color:white}p.svelte-396htm.svelte-396htm{margin:0}.lorem.svelte-396htm.svelte-396htm{flex:1;text-align:center;padding:4px 8px;border-radius:4px;border:1px solid black;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
span.svelte-1jtm271{position:relative}
div.svelte-298zmp{position:absolute;width:10px;height:10px;background-color:white;border-radius:5px;pointer-events:none;z-index:1;transition:box-shadow 0.2s}
div.svelte-1p07i9w{display:inline-block;margin-bottom:5px;height:200px;width:260px;border-radius:8px 8px 0 0;overflow:hidden;outline:2px solid transparent;outline-offset:3px;transition:outline 0.2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;user-select:none}div.focused.svelte-1p07i9w{outline:2px solid var(--focus-color, red)}
div.svelte-1sfybn3{position:absolute;width:6px;height:6px;background-color:white;border-radius:5px;margin-top:2px;pointer-events:none;z-index:1}
div.svelte-19ox0gq{display:inline-block;margin:4px;width:var(--slider-width, 250px);height:var(--picker-height, 10px);border-radius:7px;overflow:hidden;outline:2px solid transparent;outline-offset:3px;transition:outline 0.2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;user-select:none}div.focused.svelte-19ox0gq{outline:2px solid var(--focus-color, red)}
div.svelte-eqfzhf{background-color:white;margin:0 10px 15px;padding-bottom:3px;border:1px solid black;border-radius:8px;display:none}.isOpen.svelte-eqfzhf{display:flex;flex-direction:column}.isPopup.svelte-eqfzhf{position:absolute;top:15px;z-index:2}div.svelte-eqfzhf:not(.isPopup){display:inline-flex;flex-direction:column}div.svelte-eqfzhf .text-input{margin:5px}
div.svelte-t8m430{padding:8px 5px 5px 8px;background-color:white;margin:0 10px 10px;border:1px solid black;border-radius:12px;display:none}.isOpen.svelte-t8m430{display:block}@media(min-width: 768px){.isOpen.svelte-t8m430{display:grid;grid-template:'picker . . a11y'
				'input input input a11y'}}div.svelte-t8m430 .picker{grid-area:picker}div.svelte-t8m430 .text-input{grid-area:input}div.svelte-t8m430 .a11y-notice{grid-area:a11y;margin:0 4px 0 6px}div.svelte-t8m430 .slider-wrapper{margin-left:5px}.isPopup.svelte-t8m430{position:absolute;top:15px;z-index:2}
.picker-wrapper.svelte-ze9cao.svelte-ze9cao{padding:8px 5px 5px 8px;width:224px;margin:0 10px 10px;border-radius:12px;display:flex;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);box-sizing:content-box;border:1px solid rgb(173, 173, 173);z-index:2}.picker-wrapper.isOpen.svelte-ze9cao.svelte-ze9cao{display:flex;flex-wrap:wrap}.picker-wrapper.svelte-ze9cao .text-input{width:100%;margin:10px 0px !important}.picker-wrapper.svelte-ze9cao .picker-wrapper{width:200px;height:200px;margin-right:5px}.picker-wrapper.svelte-ze9cao .slider-wrapper{width:10px;height:200px;margin-right:5px}.picker-wrapper.svelte-ze9cao *{box-sizing:content-box}.picker-wrapper.svelte-ze9cao .picker-indicator{position:absolute;width:10px;height:10px;background-color:white;border-radius:5px;z-index:5}.picker-wrapper.svelte-ze9cao .slider-indicator{position:absolute;width:10px;height:10px;background-color:white;border-radius:5px;z-index:5}.picker-wrapper.svelte-ze9cao .input-container input{height:30px;background-color:#eee;padding:0px 10px}.picker-wrapper.svelte-ze9cao .buttons.svelte-ze9cao{width:100%;gap:10px;display:flex;justify-content:flex-end;margin-top:20px}.picker-wrapper.svelte-ze9cao .buttons button.svelte-ze9cao{cursor:pointer;color:white;font-weight:500;display:flex;align-items:center;height:40px;border-radius:5px;justify-content:center;font-size:1.25rem}.picker-wrapper.svelte-ze9cao .buttons .cancel.svelte-ze9cao{width:92px;background-color:#bcbfc3}.picker-wrapper.svelte-ze9cao .buttons .save.svelte-ze9cao{flex-grow:1;background-color:#6d6f76}
#fore-color-container.svelte-14t22gr{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);box-sizing:content-box}
@charset "UTF-8";.tox div[role="menuitemcheckbox"][title="제목"]{height:42px}.editor.svelte-14k4bor{width:100%;height:500px;background-color:red}.editor.svelte-14k4bor .tinymce-wrapper{height:100%}.editor.svelte-14k4bor .tox-edit-area{position:relative}.editor.svelte-14k4bor .tox.tox-tinymce{height:100% !important}.editor.svelte-14k4bor img.user-import{max-width:100%}
main.svelte-nuo3c5.svelte-nuo3c5{text-align:center;padding:1em;margin:0 auto}main.svelte-nuo3c5 .inputs.svelte-nuo3c5{width:100%}main.svelte-nuo3c5 .inputs.faq.svelte-nuo3c5{max-width:622px}main.svelte-nuo3c5 h1.svelte-nuo3c5{color:blue;text-transform:uppercase;font-size:4em;font-weight:100}main.svelte-nuo3c5 .title.svelte-nuo3c5{display:flex;align-items:center;height:30px;background-color:rgb(188, 186, 186);box-sizing:border-box;width:100%;padding:30px}main.svelte-nuo3c5 .title input.svelte-nuo3c5{flex-grow:1}main.svelte-nuo3c5 .result-wrapper.svelte-nuo3c5{font-family:"AppleSDGothicNeo";text-align:left;width:100%;box-sizing:border-box;padding:20px 10px;background-color:#f0f0f4;border-radius:20px;display:flex;flex-direction:column;gap:20px}main.svelte-nuo3c5 .result-wrapper .box.svelte-nuo3c5{display:flex;gap:10px}main.svelte-nuo3c5 .result-wrapper .img.svelte-nuo3c5{min-width:60px;height:60px;background-color:white;border-radius:60px}main.svelte-nuo3c5 .result-wrapper .question-box .text.svelte-nuo3c5{font-size:1rem;font-weight:500;color:#46474b;text-align:left;word-break:break-all}main.svelte-nuo3c5 .result-wrapper .answer-box.svelte-nuo3c5{justify-content:flex-end}main.svelte-nuo3c5 .result-wrapper .text.svelte-nuo3c5{border-radius:15px;height:-moz-max-content;height:max-content;padding:10px 20px;background-color:white}.mode-change.svelte-nuo3c5.svelte-nuo3c5{display:flex;margin:10px 0px;align-items:center;gap:10px}.input-target.svelte-nuo3c5.svelte-nuo3c5{display:flex;gap:18px}.input-target.svelte-nuo3c5 label.svelte-nuo3c5{width:50%;padding:5px;text-align:center;border:1px solid #bcbfc3;border-radius:5px;color:#6d6f76;cursor:pointer;background-color:white}.input-target.svelte-nuo3c5 label.active.svelte-nuo3c5{color:#6591fa;border-color:#5b88f4}.input-target.svelte-nuo3c5 label input.svelte-nuo3c5{display:none}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  /* Ultra Light */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoUL00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoUL00.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Light */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoL00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoL00.woff") format("woff");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Light */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoT00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoT00.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Regular */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoR00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoR00.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Medium */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoM00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoM00.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Semi Bold */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoSB00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoSB00.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Bold */
  font-family: "AppleSDGothicNeo";
  src: url("/assets/fonts/AppleSDGothicNeoB00.woff2") format("woff2"), url("/assets/fonts/AppleSDGothicNeoB00.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
#HITIT-wiswig {
  font-size: 16px;
  font-family: "AppleSDGothicNeo";
}
#HITIT-wiswig.mce-content-body {
  overflow-y: scroll !important;
  padding: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
#HITIT-wiswig img {
  max-width: 100% !important;
}
#HITIT-wiswig h1 {
  font-size: 34px;
  line-height: 45px;
  color: #46474B;
  font-weight: 600;
}
#HITIT-wiswig h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #46474B;
}
#HITIT-wiswig p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #46474B;
}
#HITIT-wiswig pre.annotation {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #BCBFC3;
  white-space: break-spaces;
}
#HITIT-wiswig a {
  color: #3c68D6;
}
#HITIT-wiswig strong {
  font-weight: 600;
}
#HITIT-wiswig img {
  max-width: 100% !important;
}

@media all and (max-width: 1023px) {
  #HITIT-wiswig h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #HITIT-wiswig h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #HITIT-wiswig p {
    font-size: 16px;
    line-height: 25px;
  }
  #HITIT-wiswig pre.annotation {
    font-size: 14px;
    line-height: 20px;
  }
  #HITIT-wiswig a {
    color: #3c68D6;
  }
  #HITIT-wiswig strong {
    font-weight: 600;
  }
}